defmodule WxWidgets.<%= @module_name %> do
<%= for m <- @methods do %>
  <%= WxWidgets.CodeGen.render_atspec(m) %>
  <%= WxWidgets.CodeGen.render_def(m) %>
    <%= WxWidgets.CodeGen.render_erlcall(m) %>
  end
<% end %>
end
