defmodule WxWidgets.<%= @elixir_module_name %> do
<%= for t <- @types do %>
<%= WxWidgets.CodeGen.render_type(t) %>
<% end %>

<%= for s <- @specs do %>
<%= WxWidgets.CodeGen.render_def(@mod, s) %>
<% end %>
end
